<!DOCTYPE html>
<html>
  <head>
    <title>Connexion</title>
  </head>
  <body>
    <h2>Connexion</h2>
    <form method="POST" action="/login">
      <label for="username">Nom d'utilisateur:</label><br />
      <input type="text" id="username" name="username" required /><br /><br />
      <label for="password">Mot de passe:</label><br />
      <input
        type="password"
        id="password"
        name="password"
        required
      /><br /><br />
      <input type="submit" value="Connexion" />
    </form>
    <br />
    <a href="/">Créer un compte</a>
  </body>
</html>
