<!DOCTYPE html>
<html>
  <head>
    <title>Créer un compte</title>
  </head>
  <body>
    <h2>Créer un compte</h2>
    <form method="POST" action="/">
      <label for="username">Nom d'utilisateur:</label><br />
      <input type="text" id="username" name="username" required /><br /><br />
      <label for="password">Mot de passe:</label><br />
      <input
        type="password"
        id="password"
        name="password"
        required
      /><br /><br />
      <input type="submit" value="Créer un compte" />
    </form>
    <br />
    <a href="/login">Retour à la connexion</a>
  </body>
</html>
